.brand{
color:#f77082;

}
.brandbg{
  background-color:#f77082;
  }
.white{
  color: white;
}
.libre{
  font-family: 'Libre Baskerville', serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.bold{
font-weight: bold;
}
body{

  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #000000;
}
p{
  text-align: justify;
}
h1{
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  /* font-family: 'Poppins', sans-serif; */
}
h1{
font-size: 40px;
 
}
h2{
font-weight: bold;
font-size: 30px;
margin-bottom: 15px;
}
.headr{
  box-shadow: 0px 2px 20px lightgray;
  margin-bottom: 20px;;
}
 .menu{
   padding: 5px;
   font-size: 12px;
   font-weight: normal;

 }
.menu a{
  color: white;
}

a{
  color:#f77082;
   
   font-family: 'Poppins', sans-serif;
   font-weight: 300;

 }
 .footer{
   font-size: 13px;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
 }
.band{
  background-color: #000000;
  height: 28px;
}
input, textarea, button, label{
  font-family: 'Poppins', sans-serif;
  font-size: 15px !important;
} 
button{
  padding: 5px 30px !important;
}
input[type=text]{
padding: 20px 5px !important;
}